name: CareUEveryDay Cron CI

on:
 schedule:
#     - cron: '*/5 * * * *' 
   - cron: '0 6,23 * * *'
 push:
   branches:
     - main
#如果没有错 7：15左右 和 2：15左右   
# on:
#   push:
#     branches:
#       - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: SendWxTemplateMsg
        run: sudo java -jar ./target/CareUEveryDay-1.0.0.jar
#王云鹏
